body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x:none;
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:#86A7FC;
}
nav{
    height:60px;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
}
nav a{
    font-weight:bold;
    text-decoration:none;
    color:black;
    margin-left:1rem;

}
.register{
    border-style:solid;
    padding:0.5rem;
    border-radius:10px;
    border-color:transparent;
}
.register:hover{
    background-color:rgb(243, 243, 243)
}
.login{
    border-style:solid;
    padding:0.5rem 1rem;
    border-radius:10px;
    border-color:#4a52c4;
    background-color:#4a52c4;
    color:white;
}
.login:hover{
    background-color:#3e4497;
    border-color:#3e4497;
}
.hero-section{
    margin-top:5rem;
    display:flex;
   flex-direction:column;
}
.section-one{
    margin:0 auto;
    text-align:center;
    color:white;
}
.section-one h1{
    color:white;
    font-size:4rem;
    text-shadow: 3px 4px 14px rgba(0,0,0,0.86);
}
.section-one p{
    font-weight:bold;
    font-size:1.3rem;
    text-shadow: 3px 4px 14px rgba(0,0,0,0.4);
}
.section-one a{
    margin-top:2.5rem;
    display:flex;
    flex-direction:column;
    text-decoration:none;
}
.chat-history{
    background-color: #4d56d3;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing:border-box;
    border-bottom-width:4px;
    border-bottom-color:#3c43a1;
    color: #FFFFFF;
    display: inline-block;
    padding:0.5rem;
    width:25%;
    margin:0 auto;
    font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
}
.chat-history:hover{
    background-color:#5b63d6;
    border-color:#5b63d6;
    border-bottom-color:#444baf;
}
.new-chat{
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing:border-box;
    border-bottom-width:4px;
    border-bottom-color:rgb(216, 216, 216);
    background-color: white;
    color: black;
    display: inline-block;
    padding:0.5rem;
    width:25%;
    margin:0 auto;
    font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
}
.new-chat:hover{
    background-color: rgb(235, 232, 232);
    border-bottom-color:rgb(194, 194, 194);
}
@media only screen and (max-width: 769px){
   nav{
    height:80px;
   }
   nav a{
    font-size:1.3rem;
   }
}
@media screen 
 and (max-device-width: 1920px) 
 and (min-device-width: 1367px){
    nav{
        height:80px;
    }
    nav a{
        font-size:1.3rem;
    }
    .hero-section h1{
        font-size:5rem;
    }
    .hero-section p{
        font-size:1.7rem;
    }
    .hero-section a{
        width:30%;
        padding:1.3rem;
        font-size:1.3rem;
    }
 }