body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x:none;
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:#86A7FC;
    overflow-x:hidden;
}
nav{
    height:60px;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
}
nav a{
    font-weight:bold;
    text-decoration:none;
    color:black;
    margin-left:1rem;

}
.home{
    border-style:solid;
    padding:0.5rem 1rem;
    border-radius:10px;
    border-color:#4a52c4;
    background-color:#4a52c4;
    color:white;
}
.home:hover{
    background-color:#3e4497;
    border-color:#3e4497;
}
.input-container{
    margin-top:1rem;
    margin-left:1rem;
    
    width:45%;
    height:200px;
    border-radius:3px;
    padding-top:1rem;
    padding-bottom:10rem;
}
.input-header h2{
    text-shadow: -2px 3px 8px rgba(0,0,0,0.6);
    padding-top:0;
    margin:0;
    padding-bottom:0;
    border:solid;
    border-width:1px;
    background-color:#4d56d3;
    border-radius:20px;
    border: solid transparent;
    border-width: 0 0 5px;
    text-align:center;
    box-sizing:border-box;
    border-bottom-width:5px;
    border-bottom-color:#3c43a1;
    color:white;
    font-size:4rem;
    text-wrap:nowrap;
    font-weight:bold;
}
.input-container img{
    width:100%;
    margin-top:2rem;
}
.input-questions a{
    width:40%;
    text-decoration:none;
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing:border-box;
    border-bottom-width:4px;
    border-bottom-color:rgb(189, 188, 188);
    color: black;
    padding:0.5rem;
    text-align:center;
    align-items:center;
    margin:0.5rem;
    font-size: 14px;
  font-weight: 700;
  line-height:20px;
  letter-spacing: .8px;
  outline: none;
}
.input-questions{
    align-items:center;
    text-align:center;
    justify-content:center;
    padding-top:0.5rem;
    z-index:1;
    border:solid;
    border-radius:10px;
    border-color:#E9F6FF;
    border-bottom-color:rgb(194, 194, 194);
    background-color:#E9F6FF;
    border-radius:20px;
    border-bottom-color:#b4b8bb;
    border-width: 0 0 6px;
    box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
box-sizing:border-box;
    height:240px;
    position:fixed; right:1rem; bottom:17.5rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:30%;
}
.input-questions a:hover{
    background-color:rgb(224, 224, 224);
    border-color:rgb(224, 224, 224);
    border-bottom-color:rgb(172, 170, 170);
}
label{
    text-align:center;
    position:fixed; left:54rem;
    color:white;
    background-color:#5b63d6;
    border:solid transparent;
    border-radius:10px;
    font-size:16px;
    padding:0.5rem 0.5rem;
    border-width: 0 0 4px;
    border-bottom-color:#444baf;
}
label:hover{
    cursor:pointer;
    background-color:#5258b8;
    border-bottom-color:#373d8d;
}
.submit-btn{
    text-align:center;
    position:fixed; left:45rem;
    border:solid transparent;
    border-radius:10px;
    color:black;
    padding:0.5rem 2.5rem;
    font-size:16px;
    border-width: 0 0 4px;
    background-color:white;
    border-bottom-color:rgb(190, 190, 190);
}
.submit-btn:hover{
    cursor:pointer;
    background-color:rgb(236, 236, 236);
    border-bottom-color:rgb(146, 146, 146);
}

.chatbox{
    margin-top:2rem;
    list-style:none;
    background:none;
    padding-right:1rem;
    padding-left:1rem;
}
.chatbox li{
    padding:0.5rem;
    overflow:hidden;
    display:flex;
}
.chatbox .avatar{
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 0;
}
.chatbox img{
    border-radius:30px;
}
.self .msg {
    order: 1;
    border-radius:20px;
    color:white;
}
.other .msg {
    max-width:40%;
    order: 1;
    border-radius:20px;
    color:white;
}
.self{
    justify-content: flex-end;
    align-items: flex-end;
}
.self .avatar {
    order: 2;
    position:relative; bottom:3rem; left:0.5rem;
}
.other .avatar{
    position:relative; bottom:1rem; right:0.5rem;
}
.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-style:solid;
    border-bottom-width:5px;
    border-bottom-color:rgb(228, 228, 228);
    border-width: 0 0 5px;
    
}
.msg p {
    font-size: 1rem;
    margin:0rem;
    color: black;
}
.msg h2{
    line-height:5px;
    font-size:0.8rem;
    color:black;
}

.container{
    position:fixed; bottom:17.5rem; left:45rem;
    width:14%;
    height:245px;
    display:grid;
    grid-template: repeat(6, 60px) / repeat(4, 1fr);
    padding-left:1rem;
    padding-top:0.5rem;
    transform: scale(1);
    grid-template-columns:auto auto auto;
    border:solid;
    border-radius:10px;
    border-color:#E9F6FF;
    border-bottom-color:rgb(194, 194, 194);
    background-color:#E9F6FF;
    border-radius:20px;
    border-bottom-color:#b4b8bb;
    border-width: 0 0 6px;
    box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
box-sizing:border-box;
}
.container>div{
    width:75%;
    height:75%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    background:#51525f;
    color:white;
    box-shadow:2px 2px 2px;
    cursor:pointer;
    border-radius:10px;
    font-weight:600;
}
.container>div:hover{
    transition:0.3s;
    background-color:#44487c;
}
.container>div:active{
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    
}
.zero{
    grid-column: 2;
}

@media only screen and (max-width: 769px){
    nav{
        height:80px;
        width:100%;
    }
    nav a{
        font-size:1.3rem;
    }
    .input-container{
        width:90%;
    }
    .input-header h2{
        width:90%;
        margin:0 auto;
        text-wrap:wrap;
    }
    .input-questions{
        position:unset;
        margin:0 auto;
        margin-top:85rem;
        margin-bottom:5rem;
        height:20rem;
        width:80%;
    }
    .container{
        position:relative; left:0rem; bottom:50rem;
        width:50%;
        margin:0 auto;
    }
    .input-questions a{
        font-size:1.1rem;
    }
    .msg h2{
        text-wrap:wrap;
        line-height:18px;
    }
    .msg{
    }
    label{
        text-align:center;
        position:unset;
        width:36%;
        margin:0 auto;
        font-size:1.3rem;
    }
    .submit-btn{
        text-align:center;
        width:40%;
        margin:0 auto;
        position:unset;
        font-size:1.3rem;
    }
    .column-right-bottom{
        display:flex;
        text-align:center;
        align-items:center;
        flex-direction:column;
    }
}
@media only screen and (min-width:770px)
and (max-width: 1080px){
    nav{
        height:80px;
    }
    nav a{
        font-size:1.3rem;
    }
    .input-header h1{
        margin:0 auto;
        text-wrap:wrap;
        width:90%;
    }
    .input-container{
        width:95%;
    }
    .input-questions{
        position:unset;
        margin-left:2rem;
        margin-top:30rem;
        margin-bottom:5rem;
        height:20rem;
        width:50%;
    }
    .container{
        position:fixed; bottom:4.5rem; left:37rem;
        height:20rem;
        width:22%;
        padding-top:2.5rem;
    }
}
@media only screen and (min-width: 1081px)
and (max-width: 1320px){
    .input-questions{
        height:280px;
        position:fixed; right:7rem; bottom:17.5rem;
    }
    .container{
        position:fixed; bottom:36rem; left: 50rem;
        
    }
    .column-right-bottom{
        position:fixed; bottom:15rem;
    }
    label{
        position:fixed; left:53rem;
    }
    .submit-btn{
        position:fixed; left:53rem; bottom:9rem;
    }
    

}
@media only screen and (min-width: 1321px)
and (max-width: 1500px){
    .column-right-bottom{
        position:fixed; bottom:15rem;
    }
    label{
        position:fixed; left:73.5rem;
    }
    .submit-btn{
        position:fixed; left:63.5rem;
    }
}
@media only screen and (min-width: 1501px)
and (max-width: 1920px){
    .container{
        position:fixed; bottom:37rem; left:75rem;
    }
    .input-questions{
        position:fixed; left:60rem;
        height:18rem;
    }
    .column-right-bottom{
        position:fixed; bottom:15rem;
    }
    label{
        position:fixed; left:78rem;
    }
    .submit-btn{
        position: fixed; left:68rem;
    }
}
