body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x:none;
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:#86A7FC;
    overflow-x:hidden;
}
nav{
    height:60px;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
}
nav a{
    font-weight:bold;
    text-decoration:none;
    color:black;
    margin-left:1rem;

}
.home{
    border-style:solid;
    padding:0.5rem 1rem;
    border-radius:10px;
    border-color:#4a52c4;
    background-color:#4a52c4;
    color:white;
}
.home:hover{
    background-color:#3e4497;
    border-color:#3e4497;
}
.heroSection{
    display:flex;
    flex-direction:column;
}
h1{
    font-size:2.5rem;
    padding: 0.5rem 0.5rem;
    text-wrap:nowrap;
    border:solid;
    color:white;
    border-color:#4942E4;
    border-width: 0 0 5px;
    border-bottom-color:#3832aa;
    border-radius:20px;
    background-color:#4942E4;
    width:23%;
    margin:0 40%;
    margin-top:2rem;
    margin-bottom:4rem;
    box-shadow: -5px 4px 44px 0px rgba(0,0,0,0.21);
-webkit-box-shadow: -5px 4px 44px 0px rgba(0,0,0,0.21);
-moz-box-shadow: -5px 4px 44px 0px rgba(0,0,0,0.21);
}
.chathistoryContainer{
    margin-left:2rem;
}
.paragraphText{
    font-weight:bold;
}
.chathistoryLink{
    text-decoration:none;
}
li{
    align-items:center;
    display:flex;
    margin-top:1rem;
}
.chathistoryContainer{
    margin:0 auto;
    margin-top:3rem;
    margin-bottom:3rem;
    background-color:white;
    width:90%;
    border-radius:30px;
    border-style:solid;
    border-bottom-color:rgb(185, 185, 185);
    border-width:0 0 10px ;
    box-shadow: 2px 8px 18px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 8px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 8px 18px -6px rgba(0,0,0,0.75);
}

.chathistoryContainer a{
    font-size:1rem;
    box-sizing:border-box;
    color: black;
    border:solid transparent;
    text-decoration:underline;
    text-underline-offset:5px;
    text-decoration-thickness:1.5px;
    display: flex;
    justify-content:space-around;
    border-radius:5px;
    margin-left:2rem;
    font-weight:600;
    padding-left:0.3rem;
    padding-right:0.3rem;
    min-width:20%;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}
.chathistoryContainer a:hover{
    background-color:rgb(233, 231, 231);
}
.chathistoryContainer p{
    box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.15);
    border:solid;
    font-size:1.2rem;
    text-wrap:nowrap;
    width:16%;
    margin-left:2rem;
    text-align:center;
    border-color:#4942E4;
    background-color:#4942E4;
    border-radius:10px;
    color:white;
}
@media only screen and (max-width: 769px){
    nav{
        height:80px;
    }
    nav a{
        font-size:1.3rem;
    }
    .heroSection h1{
        font-size:2rem;
        text-wrap:wrap;
        width:50%;
        text-align:center;
        margin:0 auto;
        margin-top:1rem;
    }
    li{
        flex-direction:column;
        margin-right:4rem;
    }
    .heroSection p{
        width:60%;
        text-wrap:wrap;
        font-size:1rem;
    }
    .heroSection a{
        text-wrap:nowrap;
    }
    
}
@media only screen and (max-device-width: 1320px) 
and (min-device-width: 770px) 
{ 
    nav{
        height:80px;
    }
    .heroSection h1{
        width:40%;
        text-align:center;
        margin:0 auto;
        margin-top:1rem;
    }
    .heroSection p{
        text-wrap:wrap;
        width:20%;
    }
    
}
@media only screen and (max-device-width: 1920px) 
and (min-device-width: 1321px){
    nav{
        height:80px;
    }
    nav a{
        font-size:1.3rem;
    }
    .heroSection h1{
        text-align:center;
    }
    .heroSection p{
        font-size:1.3rem;
    }
    .heroSection a{
        font-size:1.3rem;
    }
}
