body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x:none;
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:#86A7FC;
    overflow-x:hidden;
}
nav{
    height:60px;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.75);
}
nav a{
    font-weight:bold;
    text-decoration:none;
    color:black;
    margin-left:1rem;

}
.home{
    border-style:solid;
    padding:0.5rem 1rem;
    border-radius:10px;
    border-color:#4a52c4;
    background-color:#4a52c4;
    color:white;
}
.home:hover{
    background-color:#3e4497;
    border-color:#3e4497;
}
.hero-section{
    display:flex;
    flex-direction:column;
}
h1{
    font-size:2.5rem;
    padding: 0.5rem 0.5rem;
    text-wrap:nowrap;
    border:solid;
    color:white;
    border-color:#4942E4;
    border-width: 0 0 5px;
    border-bottom-color:#3832aa;
    border-radius:20px;
    background-color:#4942E4;
    width:19%;
    margin:0 40%;
    margin-top:2rem;
    box-shadow: -5px 4px 44px 0px rgba(0,0,0,0.21);
-webkit-box-shadow: -5px 4px 44px 0px rgba(0,0,0,0.21);
-moz-box-shadow: -5px 4px 44px 0px rgba(0,0,0,0.21);
}
.chat-history-container{
    margin-left:2rem;
}
.paragraph-text{
    font-weight:bold;
}
.chat-history-link{
    text-decoration:none;
}
.chat-history-container{
    margin:0 auto;
    margin-top:3rem;
    margin-bottom:3rem;
    background-color:white;
    width:90%;
    height:600px;
    border-radius:30px;
    border-style:solid;
    border-bottom-color:rgb(185, 185, 185);
    border-width:0 0 10px ;
    box-shadow: 2px 8px 18px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 8px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 8px 18px -6px rgba(0,0,0,0.75);
}
.chat-history-container a{
    font-size:1.2rem;
    background-color: #4d56d3;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing:border-box;
    border-bottom-width:4px;
    border-bottom-color:#3c43a1;
    color: #FFFFFF;
    display: inline-block;
    margin-left:2rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-right:0.5rem;
    padding-left:0.5rem;
    border-radius:10px;
}
.chat-history-container a:hover{
    background-color:#5b63d6;
    border-color:#5b63d6;
    border-bottom-color:#444baf;
}
.chat-history-container p{
    font-size:1.3rem;
    padding-left:2rem;
    padding-top:2rem;
}
