<section className="heroSection">
    <div className="columnRight">
        <div className="inputContainer">
            <div className="inputHeader">
                <h2 className="header">Thread Name</h2>
            </div>
          <div className="chatbox">
            <div className="chat">
             <li className="self">
                <div className= "avatar"><img src="./images/userimage.jpg" className="userImage"></div>
              <div className="msg">
                <h2>User</h2>
                <p>What is 2x2?</p>
                </div>
              </li>
               <li className="other">
                <div className="avatar"><img src="./images/userimage2.jpg" className="userImage2"></div>
               <div className="msg">
                <h2>Numeralogix the Math Wizard</h2>
                <p>2x2 is 4.</p>
               </div>
              </li> 
              <li className="self">
                <div className= "avatar"><img src="./images/userimage.jpg" className="userImage"></div>
              <div className="msg">
                <h2>User</h2>
                <p>Explain the theory to me.</p>
                </div>
              </li>
              <li className="other">
                <div className="avatar"><img src="./images/userimage2.jpg" className="userImage2"></div>
                <div className="msg">
                  <h2>Numeralogix the Math Wizard</h2>
                  <p>As we can see, 2*2, this simply means the first digit '2' is to be added to itself twice, and when this happens the result is 4. The same way 2+2=4 .</p>
                  </div>
                  </li>
                <li className="self">
                  <div className="avatar"><img src="./images/userimage.jpg" className="userImage"></div>
                    <div className="msg">
                      <h2>User</h2>
                      <p>Ask me a harder question.</p>
                    </div>
                </li>
                <li className="other">
                  <div className="avatar"><img src="./images/userimage2.jpg" className="userImage2"></div>
                   <div className="msg">
                    <h2>Numeralogix the Math Wizard</h2>
                    <p>There is a three-digit number. The second digit is four times as big as the third digit, while the first digit is three less than the second digit. What is the number?</p>
                   </div>
                </li>
                </div>
              </li>
            </div>
        </div>
    </div>